/* General page styles */
.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #E7EFE4;
  overflow: hidden; /* Prevent scrolling */

  &__container {
    position: absolute;
    width: 475px;
    height: 550px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Ensure the form takes the full width of the container */
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
  }

  &__button {
    padding: 10px 20px;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%; /* Ensure buttons take the full width of the container */

    &:first-child {
      background-color: #0F4314;
    }

    &:last-child {
      background-color: #D3D3D3;
      color: #FFFFFF;
    }

    &:hover {
      background-color: #505050;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
  }
}

form {
  width: 100%; /* Ensure the form takes the full width of the container */

  label {
    text-align: left; /* Align labels to the left */
    margin-bottom: 5px; /* Space between label and input */
    width: 100%; /* Ensure labels take the full width */
  }

  input,
  select {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}
