.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #E7EFE4;
  height: 100vh;

  &__container {
    width: 475px;
    height: 550px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
  }

  &__button {
    padding: 10px 20px;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%; /* Asegura que los botones ocupen todo el ancho del contenedor */

    &:first-child {
      background-color: #0F4314;
    }

    &:last-child {
      background-color: #D3D3D3;
      color: #FFFFFF;
    }

    &:hover {
      background-color: #505050;
    }
  }

  &__img {
    padding-left: 70px;
  }
}

form {
  width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */

  label {
    text-align: left; /* Alinea las etiquetas a la izquierda */
    margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
    width: 100%; /* Asegura que las etiquetas ocupen todo el ancho */
  }

  input,
  select {
    margin-bottom: 20px;
    padding: 10px; /* Ajusta el padding para una mejor apariencia */
    width: 100%; /* Asegura que los inputs ocupen todo el ancho */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
  }
}

img {
  align-self: center;
}


